{% extends "layout.html" %}

{% block body %}
    Hello anonymous user. What do they know about you? Choose the most specific option in all cases.
    <form action = "calculation" method="post">
        
        <select id = "known_loc" name="known_loc" onchange="knownLocChange(this)">
            <option value="" selected disabled hidden>Select what is known about current location</option>
            <option value="Country">My country of residence</option>
            <option value="City">My city of residence</option>
            <option value="State">That I am in a reside in a specific State of the United States</option>
            <option value="NoLocation">They know nothing about my location</option>
        </select><br>

        <select class="LocationSpecificClass" name="Country" id="CountrySpecific" hidden>
            <option value="All countries">All Countries</option>
            <option value="__ countries">___ Countries</option>
        </select>

        <select class="LocationSpecificClass" name="City" id="CitySpecific" hidden>
            <option value="All cities">All Cities</option>
            <option value="__ cities">___ Cities</option>
        </select>

        <select class="LocationSpecificClass" name="State" id="StateSpecific" hidden>
            <option value="All states">All States</option>
            <option value="__ states">___ States</option>
        </select>

        <input type="checkbox" id="known_gender" name="known_gender">
            <label for="known_gender"> My gender identity is known</label><br>
        
        <input type="checkbox" id="known_age" name="known_age" value="known_age">
            <label for="known_age"> My age is known</label><br>

        <label for="known_security">Common Security Questions (check multiple if applicable):</label>
            <select id="known_security" name="known_security" size="4" multiple>
              <option value="road_name">The road I grew up on</option>
              <option value="pet_name">The name of my first pet</option>
              <option value="high_school">Where I went to high school</option>
              <option value="birth_city">Which city I was born in</option>
            </select>
        
        <input type="submit" id="submit" value="Submit" disabled>
    </form>
{% endblock %}

{% block script %}
    function knownLocChange(selectedElement) {
        enableSubmitBtn();
        let selectedValue = selectedElement.options[selectedElement.selectedIndex].value;
        let subForms = document.getElementsByClassName("LocationSpecificClass");
        for (let i=0; i < subForms.length; i+=1)
        {
            if (selectedValue == subForms[i].name)
            {
                subForms[i].setAttribute('style','display:block')
            }
            else
            {
                subForms[i].setAttribute('style','display:none')
            }
        }
    }

    function enableSubmitBtn() {
        document.getElementById("submit").disabled = false;
    }
{% endblock %}